@import url(http://fonts.googleapis.com/css?family=Wellfleet);

body {
	
	font-family: 'Wellfleet', times, serif;
	font-size: 150%;
	margin: 0px 0px 0px 0px;}

#imgSuperply {
	
	background-repeat: no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	
	width: 400px;
	/*margin: 40px auto;*/
	
	}

#teacher {
	float:right;
	margin:0px 30px 0px 0px;}

#redPlayer {
	position: absolute; top:300px; right:3px;
	height:300px;
	width: 300 px;
	margin:0px 30px 0px 0px;}

#bluePlayer  {
	position: absolute; top:350px; left:3px;
	height:250px;
	width: 300 px;
	margin:0px 30px 0px 0px;}

.blueImgDescription {
    visibility:hidden;
    top:300px; left:3px;
	margin: 20% 1.5%;
	resize: none;
	border-radius: 20px;
	float: left;
}

.blueImage:hover  .blueImgDescription {
    visibility:visible;
}

.redImgDescription {
    visibility:hidden;
    top:300px; right:3px;
	resize: none;
	margin: 20% 1.5%;
	border-radius: 20px;
	float: right;
}

.redImage:hover  .redImgDescription {
    visibility:visible;
}

#imageRed {
    height: 100px; width: 110px; overflow: hidden;
    -o-object-fit: contain;
    position: absolute; top:250px; right:250px;
	margin:0px 30px 0px 0px;
}
#imageBlue{
    height: 100px; width: 110px; overflow: hidden;
    position: absolute; top:250px; left:250px;
	margin:0px 30px 0px 0px;
}
#redName{
    position: absolute; top:600px; right:10px;
	margin:0px 30px 0px 30px;
}
#blueName{
    position: absolute; top:600px; left:10px;
	margin:0px 30px 0px 30px;}
}

#teacher2 {
	float:center;
	margin:135px 30px 0px 0px;}

#page1, #page2 {
	
	height: 596px;
	padding: 10px;
	min-width: 779px;}
#page2 {
	height: 730px;}

#answer {
	border: 12px double #fff;
	text-align: left;
	padding: 20px;
	margin: 70px auto 10px auto;
	width: 250px;
	text-align: center;}

#hint {
   padding: 40px 40px;
   text-align: center;
}

#blackboard {
	background-color: 	#708090;
	border: 25px solid #523620;
	border-radius: 20px;
	padding: 10px 20px;
	margin: 0px auto;
	height: 350px;
	width: 500px;
	text-align: center;}
	
	#mainAreaDiv{
		padding: 10px 20px;
	margin: 0px auto;
	width: 500px;
	text-align: center;
	}

 #playImage{
	border-radius: 25px;
	 margin-left: 1%; margin-bottom: 0.5em;
	display: inline-block;
	width:6.5%;
	float: left;
}

#resetImage{
	border-radius: 25px;
	position:absolute;
	right: 0px; 
}

#rulesImage{
	border-radius: 25px;
	margin: 0px auto;
	z-index: -1;
}

#mainAreaDiv{
position:relative;
}

.playIconDescription {
    visibility:hidden;
	width:100px;
	border-radius: 5px;
	float: left;
	position:absolute;
	top: 0;
  left: 0;
}

.playIcon:hover  .playIconDescription {
    visibility:visible;
}

.resetIconDescription {
    visibility:hidden;
	width:100px;
	border-radius: 5px;
	float: right;
	position:absolute;
	top: 0;
  right: 0;
}

.resetIcon:hover  .resetIconDescription {
    visibility:visible;
}
.rulesIcon{
position:relative;
}
.rulesIconDescription {
    visibility:hidden;
	width:100px;
	position:absolute; 
	border-radius: 5px;	
	z-index: 1;
}

.rulesIcon:hover  .rulesIconDescription {
    visibility:visible;
}

.grid{
width: 500px;
border-radius: 20px;
}

.grid td {
    cursor:pointer;
    width: 40px; height:25px;
    border:2px solid #523620;
    text-align:center;
     font-size:15px;
	border-spacing: 5px;
	
}

.grid td.redclicked {
    background-color:red;
    font-weight:bold; color:blue;
}

.grid td.blueclicked {
    background-color:blue;
    font-weight:bold; color:red;
}

.textBox{
	text-align:center;
	border: 5px solid #523620;
	border-radius: 20px;
	padding: 40px 20px;
	/*position: absolute; bottom:400; right:400px;*/
	margin:0px 30px 0px 0px;
}

.blueBox{
	background: #428bca;
  border: darken(#428bca, 5%) solid 1px;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
  
}

.redBox{
	background: #CC0000;
  border: darken(#CC0000, 5%) solid 1px;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
}

/* THE POPUP WINDOW */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; 
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
	border-radius:5px;
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#welcomeMessage{
text-align:center;
}

#Rules{
text-align:center;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
	height: 50%;
	border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-body {padding: 2px 0px 40px 0px;}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#sectionButton {
   padding: 40px 40px;
   text-align: center;
} 

/* STYLE FOR ALL BUTTONS */
.mybutton {
    background: #4CAF50; 
  border: darken(#4CAF50, 5%) solid 1px;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  /*padding: 8px 15px;*/
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
 /* top: 40em;*/
  
  
  
  &.btn-big{
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px;
  }
}
.mybutton #playButton{
padding: 8px 15px;
}





.rules{
font-size: 60%;
}
.close {
    color: green;
    padding: 15px 32px 0px 32px;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.mybutton:hover,
.mybutton:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.grid tr:first-child
{
    border: 1px solid #53f673;
}

.grid tr:first-child td:first-child
{
    border:none;
	background-color: #708090;
}

.grid  td:first-child
{
	border-radius:100%;
	color: #fff;
	background-color:black;
	border-color: darken(black, 5%) solid 1px;
	border:none;
}

.grid tr:first-child td
{
	border:none;
    border-radius:100%;
	background-color:black;
	color: #fff;
	border-color: darken(black, 5%) solid 1px;
}

.bluepathImage{
background-image: url('../images/bluePath.png');
}

.redpathImage{
background-image: url('../images/redPath.png');
}